<% include ./partials/header.ejs %>
<!-- <h1>Sign In</h1>
<form action="/signin" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Sign In</button>
</form> -->
<div class="container">  
  <form class="form-horizontal" action="/signin" method="post">
    <fieldset>
      <legend>Legend</legend>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" name="username" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <!-- <button type="reset" class="btn btn-default">Cancel</button> -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<% include ./partials/footer.ejs %>
